.form-element-styles {
  font-family: $primary-font-family;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $dark-gray;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
select {
  height: 3rem;
  margin: 0 0 1rem;
  padding: .75rem;
  appearance: none;
  border: 1px solid $medium-gray;
  border-radius: 0;
  font-family: $primary-font-family;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $black;

  &::placeholder {
    @extend .form-element-styles;
  }

  &:focus {
    outline: solid 1px $primary;
  }
}

label,
fieldset {
  clear: both;
  font-size: 1rem;
}

textarea {
  height: 100px;

  &::placeholder {
    @extend .form-element-styles;
  }
}

legend {
  font-weight: 700;
  font-size: 1rem;
}

select {
  background: transparent url("../images/select-menu.svg") no-repeat center right 10px;
  background-size: 1rem;

  option {
    @extend .form-element-styles;
  }
}

.input-group-button {
  margin-bottom: 1rem;
}

.required {
  color: $medium-dark-gray;
  font-size: .875rem;
  float: right;
}

.search-field {
  position: relative;

  .search-button {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 42px;
    right: 10px;
    z-index: 100;
    background: transparent url("../images/search.svg") no-repeat center right;
  }
}

.password-field {
  position: relative;

  .toggle-password {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 20px;
    top: 42px;
    right: 10px;
    z-index: 100;
    background: transparent url("../images/eye.svg") no-repeat center right;

    &.visible {
      background: transparent url("../images/eye-slash.svg") no-repeat center right;
    }
  }
}
