@import "../variables";

// accordion styles are defined inside the accordion components
// this file overrides & extends those styles

.accordion {

  .accordion-item {

    border-bottom: 1px solid $medium-gray;

    .accordion-header {
      padding: 10px 0;

      .accordion-icon {
        &:after {
          content: "\f105" !important;
          font-family: $font-awesome;
          transition: $transition;
          position: absolute;
          top: -1.5rem!important;
          font-size: 1.75rem;
        }
      }
    }

    .accordion-header-active {
      .accordion-icon {
        &:after {
          transform: rotate(90deg);
        }
      }
    }

    .accordion-content {
      padding-bottom: 20px;
    }
  }

  &.no-border {

    .accordion-item {
      border: none;

      &:first-of-type {
        border: none;
      }
    }

    .cell {

      &:last-of-type {
        border-bottom: none;
      }

    }

  }

  &.no-border-on-desktop {
    @media all and (min-width: $breakpoint-tablet+1) {

      .accordion-item {
        border: none;

        &:first-of-type {
          border: none;
        }
      }

      .cell {

        &:last-of-type {
          border-bottom: none;
        }

      }
    }
  }
}
