@import "../variables";

$color: #606060;

.breadcrumbs {

  margin: 1rem 0;

  .crumbs {

    list-style: none;

    a,
    a:visited,
    a:active {
      color: $secondary;
      text-decoration: none;

      &:hover {
        color: $black;
      }
    }

    li {
      display: inline;
      margin-right: 5px;
      color: $medium-dark-gray;
      font-size: .9375rem;

      &:after {
        margin-left: 5px;
        content: '/';
      }

      &:last-of-type {
        &:after {
          content: '';
        }
      }
    }
  }

  .social-links {
    li {
      color: $color;
      font-weight: 500;
      margin-right: 3px;

      a,
      a:visited,
      a:active {
        color: $color;
        font-size: 1.125rem;
      }
    }
  }

}
