.breadcrumbs {

  $color: $black;
  $breadcrumb-link-color: $link-color;
  $margin: 10px;
  $separator: '/';
  $separator-color: $black;
  $mobile-back-character: '\f104';
  $mobile-back-character-color: $link-color;

  .crumbs {

    list-style: none;

    a,
    a:visited,
    a:active {
      color: $breadcrumb-link-color;
      text-decoration: none;

      &:hover {
        color: $color;
      }
    }

    li {
      display: inline;
      margin-right: $margin;
      color: $color;

      &:after {
        margin-left: $margin;
        content: $separator;
        color: $separator-color;
      }

      &:last-of-type {
        &:after {
          content: '';
        }
      }

      @media all and (max-width: $breakpoint-mobile) {
        display: none;

        &:nth-last-child(2) {
          display: block;
          margin-left: 0;

          &:before {
            font-family: $font-awesome;
            font-weight: 900;
            content: $mobile-back-character;
            margin-right: $margin;
            color: $mobile-back-character-color;
          }

          &:after {
            content: '';
          }
        }
      }
    }
  }
}
