$background: $light-gray;
$header-background: $medium-gray;
$padding: 1rem;
$margin: 1rem;

.card {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: $background;
  transition: $transition;
  position: relative;

  &:hover {
    opacity: $opacity-on-hover;
    cursor: pointer;
  }

  .header {
    padding: $padding;
    background: $header-background;
    text-transform: uppercase;
    font-weight: 700;
  }

  img {
    top: 0;
    left: 0;
  }

  .content {
    padding: $padding;

    .subtitle {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: $margin;
    }

    .title {
      margin-bottom: 0;
    }

    .learn-more {
      font-weight: 700;
      color: $link-color;
      margin: $margin 0 0;
    }
  }

}
