@import "../variables";

// this file overrides & extends built in carousel styles

.VueCarousel {
  .VueCarousel-pagination {
    position: absolute;
    bottom: -3rem;
  }

  .VueCarousel-dot {
    background-color: $medium-gray !important;

    &.VueCarousel-dot--active {
      background-color: $primary !important;
    }
  }
}

.card-carousel {
  .card {
    width: calc(100% - 2rem);
    margin: auto;
  }
}
