@import "../variables";

// this file overrides & extends built in carousel styles

.VueCarousel {
  .VueCarousel-pagination {
    position: relative;
  }

  .VueCarousel-navigation {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    width: 100%;
  }

  .VueCarousel-navigation-button {
    position: absolute;
    font-size: 4rem;
    height: 4rem;
    font-family: Times, sans-serif;
    opacity: 1;

    &:hover {
      color: $black;
      opacity: $opacity-on-hover;
    }
  }

  .VueCarousel-navigation--disabled {
    opacity: .5;

    &:hover {
      opacity: .5;
    }
  }

  .VueCarousel-navigation-prev {
    left: -20px;
  }

  .VueCarousel-navigation-next {
    right: -20px;
  }

  .VueCarousel-dot {
    background-color: $medium-gray !important;
    padding: 0 !important;
    margin: 0 4px;
    width: 12px !important;
    height: 12px !important;

    &.VueCarousel-dot--active {
      background-color: $white !important;
      border: solid 2px $black;
    }
  }
}
