@import "../variables";

footer {
  background-color: $black;
  padding: 80px 0 0;
  @media all and (max-width: $breakpoint-mobile) {
    padding: 40px 0 0;
  }

  p, li, span {
    color: $white;
    font-size: 13px;
  }

  a,
  a:visited,
  a:active {

    color: $white;
    opacity: 1;
    text-decoration: underline;

    &:hover {
      color: $white;
      opacity: $opacity-on-hover;
      text-decoration: underline;
    }
  }

  .logo {
    margin-bottom: 30px;
    display: block;
  }

  .social-links {
    @media all and (max-width: $breakpoint-mobile) {
      border-bottom: 1px solid $white;
      padding-bottom: 1rem;
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 30px;
    }
  }

  .footer-links {
    li {
      margin-bottom: 1rem;

      a,
      a:visited,
      a:active {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media all and (max-width: $breakpoint-mobile) {
      padding-bottom: 2rem;
      border-bottom: solid 1px $white;
      margin-bottom: 1rem;
    }
  }

  .copyright {
    p {
      font-size: 11px;
    }
  }

  .donate {
    @media all and (max-width: $breakpoint-mobile) {
      border-bottom: 1px solid $background-color;
      padding-top: 10px;
      padding-bottom: 3rem;
    }

    .donate-copy {
      font-size: 18px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 0;
      vertical-align: middle;
      @media all and (max-width: $breakpoint-tablet) {
        display: inline-block;
        font-size: 16px;
        line-height: 22px;
        max-width: 49%;
        margin-right: 0;
      }
    }

    .button {
      @media all and (max-width: $breakpoint-mobile) {
        max-width: 49%;
      }
    }
  }
}
