$background: $light-gray;
$padding: 4rem 0 .5rem;
$header-color: $black;
$margin: 1rem;
$form-element-max-width: 250px;
$mobile-menu-border: 1px solid $medium-gray;

footer {
  background: $background;
  padding: $padding;

  h6,
  .like-h6 {
    margin-bottom: $margin;
    color: $header-color;
    @media all and (max-width: $breakpoint-tablet) {
      color: $header-color;
      cursor: pointer;
      margin: 0;
    }
  }

  .accordion-item {
    width: 100%;
  }

  .menus {
    @media all and (max-width: $breakpoint-tablet) {
      margin-top: $margin;
      border-top: $mobile-menu-border;
    }
  }

  ul {

    list-style: none;

    li {
      margin-bottom: $margin;
      display: inline-block;
      @media all and (max-width: $breakpoint-tablet) {
        margin-bottom: 0;
      }
    }

    &.menu {
      li {
        width: 100%;
        @media all and (max-width: $breakpoint-tablet) {
          padding: 0 0 $margin $margin;
        }
      }
    }
  }

  input,
  [type='text'],
  button {
    width: $form-element-max-width;
  }

  .bottom {
    font-size: $small-font-size;
    margin: $margin 0;

    ul {
      list-style: none;

      li {
        display: inline;
        margin-right: $margin/2;

        &:after {
          content: '|';
          margin-left: $margin/2;
        }

        &:last-of-type,
        &:first-of-type {
          margin-right: 0;

          &:after {
            content: '';
            margin-left: 0;
          }
        }

        &:first-of-type {
          margin-right: $margin;
        }
      }
    }
  }

}
