@import "../variables";

.image-with-caption {
  position: relative;
  display: inline-block;

  a,
  a:visited,
  a:active {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .caption {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    z-index: 20;
  }
}

.black-gradient-overlay {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  height: 100px;
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 1;
}
