$height: 25px;
$margin: 1rem;
$pagination-link-color: $link-color;
$pagination-link-color-hover: $link-color-hover;

.pagination {

  display: flex;
  justify-content: center;

  ul,
  .previous,
  .next {
    height: $height;
    display: inline;
    margin: 0 $margin/2;
    line-height: $height;
  }

  .previous,
  .next {
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: $transition;

    &:hover {
      opacity: $opacity-on-hover;
    }

    i {
      font-size: $height;
      padding-bottom: $margin/2;
    }
  }

  a,
  a:visited,
  a:active {
    color: $pagination-link-color;
    text-decoration: none;

    &:hover {
      color: $pagination-link-color-hover;
      text-decoration: none;
    }

    &.current {
      font-weight: 700;
    }
  }

  ul {
    li {
      display: inline;
      margin: 0 $margin/2;
    }
  }

}
