$font-size: 1.5rem;
$padding: .5rem;
$margin: 1rem;
$social-link-default-color: $black;

.social-links {

  $font-size: $font-size;

  li {
    display: inline-block;
    margin-right: $margin;

    a,
    a:visited,
    a:active {
      color: $social-link-default-color;
      height: $font-size + $padding;
      width: $font-size + $padding;
      display: inline-block;
      font-size: $font-size;
      text-align: center;
      opacity: 1;
      transition: $transition;

      &:hover {
        opacity: $opacity-on-hover;
      }

      &.no-background {
        height: $font-size;
        width: $font-size;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

}
